.buttondisabled:disabled {
  background-color: #9494a8;
  margin-bottom: 20px;
}
.button {
  margin-bottom: 20px;
}

.item {
  text-align: left;
  margin-left: 15px;
}

.itembox {
  margin-right: 10px;
}

.additem {
  margin-bottom: 20px;
}

.trash {
  float: right;
}
