.tool {
  background-color: #302c34;
  margin-bottom: 5px;
  margin-left: 15px;
  color: white;
}

.tool::first-letter {
  text-transform: capitalize;
}

.play {
  position: relative;
  bottom: -6px;
  left: 5px;
}
