.div {
  color: black;
  padding-top: 10px;
  font-size: 20px;
}

.transcriptiontable .td {
  /*background-color: purple; */
  text-align: justify;
  text-align-last: center;
}

.leftdiv {
  text-align: left;
}
