@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins&display=swap');
*{
  box-sizing:border-box;
}

div {
  color: black;
}

.gameanswer {
  background-color: lightgoldenrodyellow;
  text-align: center;
  padding-bottom: 20px;
}

.gamehelphidden {
  display:none;
  text-decoration: none;
}

.gamebutton, .gamebutton a {
  text-decoration: none;
}

body {
  background-color: lightgoldenrodyellow;
  color:black;
  font-family: 'Poppins', sans-serif;
}

/* header */
header>div {
  font-family: 'Nanum Gothic', sans-serif;
  padding:10px;
  background-color: #b9d2c0;
}

.subheading {
  text-align: center;
  text-shadow: 1.5px 1.5px grey;
}

.heading {
  font-size:2em;
  color: black;
  padding: 10px;
  text-align: center;
  text-shadow:0 0 3px #516c51, 0 0 5px #c36eb5, 0 0 2px #787aa2;
  /*text-shadow: 0 0 3px green, 0 0 5px red, 0 0 2px orange;*/
}

.logo {
  float:left;
}

/* ^^ header ^^ */

/* navigation */
header nav, main nav {
  background-color: goldenrod;
  color: black;
  margin:0;
}

header nav a {
  background-color: goldenrod;
  color: rgb(39, 35, 35);
  display: block;
  padding: 0 10px;
  font-size: 1em;
  line-height: 40px;
  text-decoration: none;
}

header nav a:hover {
  background-color: darkolivegreen;
  color: white;
}

header nav ul{
  background-color: goldenrod;
  color: black;
  list-style: none;
  padding:0;
  margin:0;
  position: relative;
  float:none;
}

header nav ul li {
  display: inline-block;
  background-color: goldenrod;
}

.main nav a{
  background-color: bisque;
  color: rgb(39, 35, 35);
  display: block;
  padding: 0 10px;
  font-size: 1em;
  line-height: 40px;
  text-decoration: none;
}

.main nav a:hover{
  background-color: burlywood;
  color: white;
}

.main nav ul{
  background-color: lightgoldenrodyellow;
  color: black;
  list-style: none;
  padding:0;
  margin:0;
  position: relative;
  float:left;
}

.main nav ul li {
  display: block;
  background-color: lightgoldenrodyellow;
}

.nav {
  clear:both;
}

/* ^^ navigation ^^ */

.main {
  background-color: lightgoldenrodyellow;
  clear:both;
}

.main article {
  padding:10px;
  font-size:1.2em;
  border-bottom: 1px solid black;
  overflow: hidden;
}

.main article div {
  padding-top: 20px;
}

.main article p:first-letter{
  font-size:1.5em;
  color:darkolivegreen;
}

.main article p a {
  text-decoration: none;
  color: darkslateblue;
}

.main article p a:hover{
  background-color: whitesmoke;
}

.main article table, .tab {
  padding-bottom: 20px;
}

.main note {
  padding:5px;
  font-size:1.2em;
  overflow: hidden;
}

.main note p:first-letter{
  font-size:1.5em;
  color:darkolivegreen;
}

.main note p a {
  text-decoration: none;
  color: darkslateblue;
}

.main note p a:hover{
  background-color: whitesmoke;
}

.iframedivmid {
  text-align: center;
  width: 100%;
}

.chord {
  border-collapse:collapse;
  border:3px darkolivegreen solid;
  margin-bottom: 20px;
}

.chord th {
  border:3px darkolivegreen solid;
  border-bottom:0px;
}

.chord td {
  border:3px darkolivegreen solid;
  border-top:0px;
  text-align:center;
}

.chordbox {
  border-collapse:collapse;
  border:3px black solid;
  position:absolute;
}

.chordbox td {
  border:3px black solid;
  border-top:0px;
  text-align:center;
  width:30px;
  height:60px;
}

.chordboximge0 {
  position: absolute;
  left: -10px;
}

.chordboximga0 {
  position: absolute;
  left: 20px;
}

.chordboximgd0 {
  position: absolute;
  left: 30px;
}

.chordboximgg0 {
  position: absolute;
  left: 40px;
}

.boximg {
  float: left;
  padding: 10px;
  max-width:96%;
  border:10px white solid;
  margin:2%;
}

.fifthstable {

  border-collapse:collapse;
  margin-bottom: 20px;
}

.fifthstable th {
  border:3px darkolivegreen solid;
  padding-left: 20px;
  padding-right: 20px;

}

.fifthstable td {
  border:3px darkolivegreen solid;
  padding-left: 20px;
  padding-right: 20px;

}

.fifthstablecenttd {
  text-align:center;

}

.fifthstablelefttd {
  text-align:left;

}

.transcriptiontable td {
  /*background-color: purple; */
  text-align: justify;
  text-align-last: center;
}



/* Buttons */

.jambuttons {
display: inline-block;
  padding: 16px;
  background-color: #8DA399;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid gray;
  box-shadow: 0 4px #999;
}

.jambuttons:hover {
  background-color: whitesmoke;
}

.jambuttons:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.gamebuttons {
  display: inline-block;
  color: black;
  padding: 16px;
  background-color: #8DA399;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid gray;
  box-shadow: 0 4px #999;
}

.gamebuttons:hover {
  background-color: whitesmoke;
}

.gamebuttons:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.answerbuttons {
display: inline-block;
  color: black;
  padding: 5px;
  background-color: #c9aec8;
  font-size: 18px;
  border-radius: 70px;
  border: 2px solid #550f5e;
  box-shadow: 0 1px #5b336a;
  margin: 5px;
}

.answerbuttons:hover {
  background-color: #d9d0d9;
}

.answerbuttons:active {
  box-shadow: 0 1px #796379;
  transform: translateY(2px);
}

/* ^^ buttons ^^ */

.menu {
  display: none;
}



.footerone p a, .footertwo p a, .footerthree p a {
  text-decoration: none;
  color: darkslateblue;
}

.footerone p a:hover, .footertwo p a:hover, .footerthree p a:hover {
  background-color: whitesmoke;
}

.subheading {
  font-size:1.5em;
  color:#333333;
  padding:0.5px;
  margin-bottom:30px;
}

#randomkey {
  text-align:center;
}

#transcriptionchoice {
  background-image: url('../images/icons/search.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: gray solid 1px;
  margin-bottom: 12px;
  box-shadow: 5px 5px 5px #a6c7a2;
}

#animationmario {
  width:120px;
  height:120px;
  position:absolute;
  left: -600px;
}

#animationcontainer {
  width: 400px;
  height: 150px;
  position:relative;
}

#bassanimation {
  margin: 10px;
  width: 100px;
  height: 99px;
  position:relative;
  animation-name: bassanimate;
  animation-duration: 4s;
  animation-delay:1s;
  animation-direction:alternate;
  animation-timing-function:ease-in;
  animation-iteration-count:6;
}

@keyframes bassanimate {
  0% {left:0px; top:0px;right:0px;bottom:0px;}
  100% {left:400px; top:0px;right:0px;bottom:0px;}
}

#songList {
  height: 520px;
  overflow: auto;
}

#songList, #blogList {
  list-style-type: none;
  padding: 0;
  margin:0;
}

#songList li a, #blogList li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: lightgoldenrodyellow;
  padding:12px;
  text-decoration: none;
  font-size: 18px;
  color: darkslateblue;
  display: block;
  width: 80%;
}

#songList li a:hover:not(.header), #blogList li a:hover {
  background-color: whitesmoke;
}

#songList li {
  justify-content:space-between;
  display: flex;
}

#theorycontainer {
  width: 800px;
  background-color: lightgoldenrodyellow;
  margin: auto;
}

#theorychoicediv {
  width: 200px;
  display: inline-block;
  float: left;
}

#theorydiv {
  width: 600px;
  display: inline-block;
  float: right;
}

#theorydiv p:first-letter{
  font-size:1.5em;
  color:darkolivegreen;
}

#theoryclear {
  clear: both;
}

.fretboard {
  position:absolute;
}

.dropbtntheory {
  background-color: #72a08f;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtntheory:hover, .dropbtntheory:focus {
  background-color: #5c7c70;
}

#myInputtheory {
  box-sizing: border-box;
  background-image: url('../images/icons/search.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 16px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInputtheory:focus {
  outline: 3px solid #ddd;
}

.dropdowntheory {
  position: relative;
  display: block;
  padding-bottom:30px;
}

.dropdown-contenttheory {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  height: 250px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-contenttheory a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contenttheory a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.initialsongulhide {
  display: none;
}

.showblogs {
  display:none;
}

/* footer */
.footercol {
  margin:auto;
  width:80%;
}

.footer {
  background-color: #b9d2c0;
  color: black;
  text-align: center;
  height:200px;
  padding:20px;
}

.footer:after {
  content:"";
  display:table;
  clear:both;
}

.footer>div {
  float:left;
}

.footerone, .footerthree {
  width: 25%;
}
.footertwo {
  width:50%;
}

/* ^^ footer ^^ */

@media all and (max-width:740px) {
  header nav ul, .main nav ul {
    width: 100%;
  }

  header nav ul li, .main nav ul li {
    display: block;
    text-align: center;
  }

  .heading {
    padding: 0px;
  }

  .boximg {
    width:100%;
  }

  .menu {
    width:100%;
    background-color: goldenrod;
    color: gray;
    display: block;
    text-align: center;
  }

  .subheading {
    margin-bottom:0px;
  }

  .footerone, .footerthree {
    width: 100%;
  }
  .footertwo {
    width:100%;
    text-align:center;
  
  }

  .footertwo li {
    list-style:none;
  }

  .footercol {
    margin:auto;
    width:100%;
  }

}