@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins&display=swap');
*{
  box-sizing:border-box;
}

body {
  background-color: lightgoldenrodyellow;
  color:black;
  font-family: 'Poppins', sans-serif;
}

.col {
  margin:auto;
  width:80%;
}

div {
  color: black;
}

header>div {
  font-family: 'Nanum Gothic', sans-serif;
  padding:10px;
  background-color: #b9d2c0;
  
}

header nav {
  background-color: goldenrod;
  color: black;
  margin:0;
  
}

header nav a {
  background-color: goldenrod;
  color: rgb(39, 35, 35);
  display: block;
  padding: 0 10px;
  font-size: 1em;
  line-height: 40px;
  text-decoration: none;
}

header nav a:hover {
  background-color: darkolivegreen;
  color: white;
}



header nav ul{
  background-color: goldenrod;
  color: black;
  list-style: none;
  padding:0;
  margin:0;
  position: relative;
  float:none;
}

header nav ul li {
  display: inline-block;
  background-color: goldenrod;
}

.heading, .subheading {
  text-align: center;
}

.heading {
  font-size:2em;
  color: black;
  padding: 10px;
}

.logo {
  float:left;
}

.main {
  background-color: lightgoldenrodyellow;
  clear:both;
}

.main article {
  padding:10px;
  font-size:1.2em;
  border-bottom: 1px solid black;
  overflow: hidden;
}

.iframedivmid {
  text-align: center;
  width: 100%;
}

.main article p:first-letter{
  font-size:1.5em;
  color:darkolivegreen;
}

.main article p a {
  text-decoration: none;
  color: darkslateblue;
}

.main article p a:hover{
  background-color: whitesmoke;
}

.main article table {
  padding-bottom: 20px;
}

.main img {
  float: left;
  padding: 10px;
  max-width:96%;
  border:10px white solid;
  margin:2%;
}

.menu {
  display: none;
}

.nav {
  clear:both;
}

.second p a {
  text-decoration: none;
  color: darkslateblue;
}

.second p a:hover{
  background-color: whitesmoke;
}

.subheading {
  font-size:1.5em;
  color:#333333;
  padding:0.5px;
  margin-bottom:30px;
}

.footer {
  background-color: darkgoldenrod;
  color: black;
  text-align: center;
  height:200px;
  padding:20px;
}

.footer:after {
  content:"";
  display:table;
  clear:both;
}

.footer>div {
  float:left;
  border:1px solid #eee;
}

.first, .third {
  width: 25%;
}
.second {
  width:50%;
  text-align:left;

}

#transcriptionchoice {
  background-image: url('../images/icons/search.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: gray solid 1px;
  margin-bottom: 12px;
}

#animationmario {
  width:120px;
  height:120px;
  position:absolute;
  left: -600px;
}

#animationcontainer {
  width: 800px;
  height: 150px;
  position:relative;
}

#songList {
  list-style-type: none;
  padding: 0;
  margin:0;
}

#songList li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: gray;
  padding:12px;
  text-decoration: none;
  font-size: 18px;
  color: darkslateblue;
  display:block;
}

#songList li a:hover:not(.header){
  background-color: whitesmoke;
}


@media all and (max-width:740px) {
  header nav ul {
    width: 100%;
  }

  header nav ul li {
    display: block;
    text-align: center;
  }

  .heading {
    padding: 0px;
  }

  .main img {
    width:100%;
  }

  .menu {
    width:100%;
    background-color: goldenrod;
    color: gray;
    display: block;
    text-align: center;
  }

  .subheading {
    margin-bottom:0px;
  }

  .first, .third {
    width: 100%;
  }
  .second {
    width:100%;
    text-align:center;
  
  }

  .second li {
    list-style:none;
  }

  .col {
    margin:auto;
    width:100%;
  }

}