.image {
  padding-bottom: 20px;
  height: 240px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  padding: 20px;
  display: block;
  padding-bottom: 20px;
}
