.a {
  background-color: lavenderblush;
  padding: 10px;
  text-decoration: none;
  font: inherit;
  color: darkslateblue;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.list {
  overflow: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.li {
  justify-content: space-between;
  display: flex;
  background-color: lavenderblush;
  align-items: center;
  box-sizing: border-box;
  padding-left: 15px;
}

.div {
  background-color: lavenderblush;
  align-self: center;
  margin-right: 15px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.btnReset {
  border: none;
  background: none;
  padding: 10px;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  display: block;
  width: 80%;
  box-sizing: border-box;
  text-align: left;
  flex-grow: 1;
  flex-shrink: 0;
  white-space: nowrap;
}
