.bot20 {
  margin-bottom: 20px;
}

.bot30 {
  margin-bottom: 30px;
}

.div {
  color: black;
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 10px;
}

.hover:hover {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(255, 105, 180, 0.8)
  );
  color: white;
  border-radius: 9px;
  transition: background 0.3s ease, color 0.3s ease;
}

.overlay {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.4),
      transparent 70%
    ),
    linear-gradient(135deg, #cdb4db 0%, #e3d6ed 40%, #f3e9f8 80%, #f3c2e8 100%);
  padding: 20px;
}

.p {
  text-align: left;
  margin-left: 15px;
}
.p:first-letter {
  font-size: 2em;
  color: rgb(93, 47, 93);
}

.p a {
  text-decoration: none;
  color: darkslateblue;
}

.p a:hover {
  background-color: whitesmoke;
}

.plainP {
  text-align: left;
  margin-left: 15px;
}
