.allgames {
  display: block;
  margin-top: 100px;
}

.buttonContainer {
  display: flex;
  justify-content: center; /* center horizontally */
  gap: 16px; /* space between buttons */
  flex-wrap: wrap; /* optional: allows wrapping on smaller screens */
  margin-top: 20px;
}
