.nailtable {
  table-layout: fixed;
  width: 660px;
  height: 100px;
  display: table;
}

.tbody {
  display: block;
}

.trs {
  height: 118px;
}
.trs td {
  text-align: center;
  vertical-align: top;
  width: 60px;
  height: 118px;
  display: table-cell;
}

.allnailsdivoverlaying {
  position: relative;
}

.allnails div {
  border: 1px solid grey;
  display: inline-block;
}

.overlay {
  position: relative;
  top: -4px;
}

.overlaymedium {
  position: relative;
  top: 8px;
  left: 2px;
}

.overlaylarge {
  position: relative;
  top: 8px;
  left: 2px;
}

.overlaythumb {
  position: relative;
  top: -4px;
  left: 2px;
}

.pinky {
  height: 80px;
  width: 40px;
  border-radius: 50%;
}
.ring {
  height: 100px;
  width: 45px;
  border-radius: 50%;
}
.middle {
  height: 110px;
  width: 50px;
  border-radius: 50%;
}
.pointer {
  height: 100px;
  width: 45px;
  border-radius: 50%;
}
.thumb {
  height: 80px;
  width: 60px;
  border-radius: 50%;
}
.spacer {
  width: 30px;
  display: inline-block;
}

.base {
  background-color: #d18686;
}

.option {
  color: #d18686;
}

option:hover,
option:checked,
option:active,
option:focus {
  background: linear-gradient(#ffffd4, #ffffd4);
  position: relative;
}

.tddropdowns {
  width: 60px;
  height: 60px;
}

.colorpickerz {
  z-index: 100;
}

.patternpicker {
  z-index: 50;
}

.colorpicker {
  position: absolute;
  width: 40px;
  display: block;
  text-align: left;
  border: 1px solid grey;
}

.colorpicker ul {
  margin: 0;
  padding: 0;
}

.colorpicker li {
  list-style-type: none;
  text-align: left;
}

.closeddd {
  color: #000 !important;
  text-align: right;
}

.nude {
  background-color: #d18686;
  color: #d18686;
}

.black {
  background-color: #000;
  color: #000;
}

.white {
  background-color: #fff;
  color: #fff;
}

.red {
  background-color: #ff0000;
  color: #ff0000;
}

.silver2 {
  background: linear-gradient(
    90deg,
    #7e7e7e 0%,
    #e3e3e3 25%,
    #787878 50%,
    #e3e3e3 75%,
    #7e7e7e 100%
  );
  color: #7e7e7e;
}

.silver {
  background: conic-gradient(
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6
  );
  color: #cccccc;
}

.gold {
  background: conic-gradient(
    #edc800,
    #e3b600,
    #f3cf00,
    #ffe800,
    #edc800,
    #e3b600,
    #f3cf00,
    #ffe800,
    #edc800,
    #e3b600,
    #f3cf00,
    #ffe800,
    #edc800,
    #e3b600,
    #f3cf00,
    #ffe800
  );
  color: #ffe800;
}

.pinkchrome {
  background: conic-gradient(
    #e6e9bf,
    #d2b5aa,
    #cbaea3,
    #d4b5ab,
    #e6e9bf,
    #d2b5aa,
    #cbaea3,
    #d4b5ab,
    #e6e9bf,
    #d2b5aa,
    #cbaea3,
    #d4b5ab,
    #e6e9bf,
    #d2b5aa,
    #cbaea3,
    #d4b5ab
  );
  color: #d4b5ab;
}
