.overridegeneralarticle p,
.overridegeneralarticle div,
.overridegeneralarticle li {
  text-align: left;
}

.cloc {
  position: relative;
  top: -13px;
  left: 76px;
}

.gloc {
  position: relative;
  top: -33px;
  left: 115px;
}

.floc {
  position: relative;
  top: -33px;
  left: 195px;
}

.aloc {
  position: relative;
  top: -12px;
  left: 65px;
}

.dloc {
  position: relative;
  top: -33px;
  left: 45px;
}

.eloc {
  position: relative;
  top: -33px;
  left: 125px;
}

.clocblur {
  position: relative;
  top: -13px;
  left: 155px;
}

.clocblur2 {
  position: relative;
  top: -13px;
  left: 197px;
}

.bloc {
  position: relative;
  top: -13px;
  left: 165px;
}

.hovers {
  background-color: lavenderblush;
}

.eloctop {
  position: relative;
  top: -73px;
  left: 106px;
}

.thirdloc {
  position: relative;
  top: -13px;
  left: 195px;
}

.sixloc {
  position: relative;
  top: -53px;
  left: -12px;
}
.sevenloc {
  position: relative;
  top: -33px;
  left: -32px;
}

.octaveloc {
  position: relative;
  top: -53px;
  left: 105px;
}

.fifthloc {
  position: relative;
  top: -33px;
  left: 125px;
}

.forthloc {
  position: relative;
  top: -33px;
  left: 166px;
}

.cnewloc {
  position: relative;
  top: -13px;
  left: 68px;
}
