.boximg {
  padding: 10px;
  max-width: 96%;
  border: 5px #534b56d9 solid;
  margin: 1%;
  background-color: lavenderblush;
}

.overridebigheader {
  border-bottom: none;
  font-size: xx-large;
}

.a {
  text-decoration: none;

  color: darkslateblue;
  line-height: 30px;
  font-weight: bold;
}

.a:hover {
  background-color: whitesmoke;
}

.description {
  padding-bottom: 20px;
}

.back {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 80px;
}
