.header {
  background-color: rgba(190, 174, 190, 0.94);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.branding {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(190, 174, 190, 0.94);
  z-index: 1001;
}

.siteTitle {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  color: rgb(56, 33, 65);
  margin: 0;
  text-shadow: 0 0 3px #516c51, 0 0 5px #c36eb5, 0 0 2px #787aa2;
}

.titleLine1,
.titleLine2 {
  color: rgb(56, 33, 65);
  text-shadow: 0 0 2px #516c51, 0 0 3px #c36eb5;
}

.navWrapper {
  margin-left: auto;
  z-index: 999;
}

.logo {
  padding: 6px;
  margin-right: 12px;
}

@media (max-width: 768px) {
  .headerWrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .branding {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding: 10px;
    background-color: rgba(234, 217, 234, 0.95);
    z-index: 1001;
  }

  .navWrapper {
    width: 100%;
    margin-top: 60px;
    text-align: right;
    padding-right: 15px;
  }

  .pageTitle {
    font-size: 0.9rem;
    margin-top: 100px;
    padding-left: 10px;
  }
}
