.div {
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 5px;
  background-color: #653d650d;
  margin-bottom: 15px;
}
.chordtable {
  border-collapse: collapse;
  border: 3px solid black;
}

.chordtd {
  border: 3px black solid;
  border-top: 0px;
  text-align: center;
  width: 25px;
  height: 40px;
}

.fret0 {
  top: -170px;
  position: relative;
}

.fret1 {
  top: -150px;
  position: relative;
}

.fret2 {
  top: -110px;
  position: relative;
}

.fret3 {
  top: -70px;
  position: relative;
}

.fret4 {
  top: -30px;
  position: relative;
}

.e {
  --setupleft: -45px;
}

.a {
  --setupleft: -20px;
}

.d {
  --setupleft: 5px;
}

.g {
  --setupleft: 30px;
}

.numfret {
  --setupnumfret: -45px;
  top: -150px;
  position: relative;
}

.leftOffsetnumfret {
  left: calc(var(--setupnumfret) + 18px);
}

.leftOffsete {
  left: calc(var(--setupleft) + 16px);
}

.leftOffseta {
  left: calc(var(--setupleft) - 3px);
}

.leftOffsetd {
  left: calc(var(--setupleft) - 24px);
}

.leftOffsetg {
  left: calc(var(--setupleft) - 44px);
}
