.basschord {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  padding: 20px 5px 0 20px;
  background-color: #653d650d;
  margin-bottom: 15px;
}

.pic {
  position: absolute;
  width: 20px;
  height: 20px;
}

.chordtable {
  border-collapse: collapse;
  border: 3px solid black;
}

.chordtd {
  border: 3px black solid;
  border-top: 0px;
  text-align: center;
  width: 25px;
  height: 40px;
}

.fret0 {
  top: 36px;
}

.fret1 {
  top: 54px;
}

.fret2 {
  top: 94px;
}

.fret3 {
  top: 134px;
}

.fret4 {
  top: 174px;
}

.e {
  left: 11px;
}

.a {
  left: 36px;
}

.d {
  left: 62px;
}

.g {
  left: 86px;
}

.numfret {
  left: -6px;
  top: 55px;
}
